<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link href="http://fonts.cdnfonts.com/css/skia" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />

    <title>City Weather</title>
  </head>
  <body>
    <nav>
      <a href="/"> <i class="fas fa-arrow-left"></i></a>
      <p>WEATHER</p>
    </nav>
    <div class="container">
      <div class="weather-data">
        <div class="temperature">
          <p><%= weatherData.name %></p>
          <span class="cloud-image">
            <img src="<%= imgURL %>" alt="weather-img" />
            <p><%= Math.round(weatherData.main.temp) %>˚C</p>
          </span>
        </div>
        <p class="show--day">
          <strong>
            Feels like <%= Math.round(weatherData.main.feels_like) %>˚C. <%=
            weatherData.weather[0].description %>.
          </strong>
        </p>
        <div class="high--low">
          <p>High: <%= Math.round(weatherData.main.temp_min) %>˚C</p>
          <p>Low: <%= Math.round(weatherData.main.temp_max) %>˚C</p>
        </div>
        <div class="details">
          <p>Wind</p>
          <p><%= weatherData.wind.speed %>m/s</p>
        </div>
        <div class="details">
          <p>Wind Gusts</p>
          <p><%= weatherData.wind.gust %>m/s</p>
        </div>
        <div class="details">
          <p>Visibility</p>
          <p><%= Math.round(weatherData.visibility / 100) / 10%>km</p>
        </div>
        <div class="details">
          <p>Humidity</p>
          <p><%= weatherData.main.humidity %>%</p>
        </div>
        <div class="details">
          <p>Pressure</p>
          <p><%= weatherData.main.pressure %> hPa</p>
        </div>
      </div>
    </div>
  </body>
</html>
